{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiny Home Dashboard</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
  <style>
    
  </style>
  <body class="bg-img" src="{% static 'main/background.jpg' %}">
    <div class="wrapper">
      <div class="container"> <!--Left panel of page, handles text positioning-->
        <div class="main-text col1">
          <h2 style="font-size:38.5pt; text-align:center; color: #ededea;" class="work-sans-regular">Welcome</h2>
          <h1 style="font-size:66pt; text-align:center; color: #62bfbf;" class="work-sans-regular">Tiny Home</h1>
          <h2 style="font-size:32pt; text-align:center; color: #62bfbf;" class="work-sans-regular">Efficiency Dashboard</h2>
          <h3 style="font-size:16pt; text-align:center; color: #ededea;" class="work-sans-regular">Cost savings and efficiency through data</h3>
        </div>
      </div>

      <div class="right-panel col1">
        <div id="login-box" class="login-box"> <!--Login screen div-->
          <h2 style="font-size:22pt; text-align:center; color: #000000;" class="work-sans-regular">Welcome Back!</h2>
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label class="email-title work-sans-regular">Email</label>
            <input class="email-field" type="email" name="email">
            <label class="password-title work-sans-regular">Password</label>
            <input class="password-field" type="password" name="password">
            <br>
            <a href="#" onclick="ResetPassword(event)" class="password-reset work-sans-regular">Forgot Password</a></p>
            <br><br><br><br><br>
            <button type="login" class="login-button">Login</button>
            <br><br><br><br>
            <p class="signup-title work-sans-regular">Don't have an account?
            <a href="#" onclick="SignUp(event)" class="work-sans-regular">Sign up</a></p>
          </form>
        </div>
        <div id="signup-box" class="signup-box"> <!--Signup screen div-->
          <h2 style="font-size:22pt; text-align:center; color: #000000;" class="work-sans-regular">Let's get started!</h2>
          <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <label class="name-title work-sans-regular">Name</label>
            <input class="name-field" type="name" name="name">
            <label class="email-title work-sans-regular">Email</label>
            <input class="email-field" type="email" name="email">
            <label class="password-title work-sans-regular">Password</label>
            <input class="password-field" type="password" name="password">
            <label class="security-title work-sans-regular">Security Question:</label>
            <label class="security-title work-sans-regular">What high school did you attend?</label>
            <input class="security-field" type="security_question" name="security_question">
            <br><br><br><br><br>
            <button href="#" class="signup-button">Create Account</button>
            <br><br><br><br>
            <p class="login-title work-sans-regular">Already have an account?
            <a href="#" onclick="LogIn(event)" class="work-sans-regular">Login</a></p>
          </form>
        </div>
        <div id="reset-box" class="reset-box">
          <h2 style="font-size: 22pt; text-align:center; color: #000000;" class="work-sans-regular">Reset Password</h2>
          <form method="POST" action="{% url 'passwordReset' %}">
            {% csrf_token %}
            <label class="email-title work-sans-regular">Email</label>
            <input class="email-field" type="email" name="email">
            <label class="security-title work-sans-regular">What high school did you go to?</label>
            <input class="security-field" type="security_question" name="security_question">
            <br><br><br>
            <button type="submit" class="login-button" style="width: 11vw;">Recover Password</button>
            <br><br>
            <p class="login-title work-sans-regular" style="margin-top: 6vh;">Remembered your password?
            <a href="#" onclick="LogIn(event)" class="work-sans-regular">Login</a></p>
          </form>
        </div>
      </div>
      {% if password_reset_done %} <!--Password reset banner -->
        <div id="error-banner" class="error-banner" style="background: #00bbcb;">
          <p class="error-message work-sans-regular">Your password is: {{ recovered_password}}
          <a href="#" onclick="CloseBanner(event)" class="work-sans-regular">X</a></p>
        </div>
      {% endif %}
      {% if error %} <!--Error banner -->
        <div id="error-banner" class="error-banner">
          <p class="error-message work-sans-regular">{{ error }}
          <a href="#" onclick="CloseBanner(event)" class="work-sans-regular">X</a></p>
        </div>
      {% endif %}

    </div>
  </body>
</html>

<script>
  // The JavaScript Function

  function SignUp(event) { //Show signup div
    event.preventDefault(); // Prevents the page from jumping
    const logInDiv = document.getElementById("login-box");
    const signUpDiv = document.getElementById("signup-box");
    const resetDiv = document.getElementById("reset-box");
    logInDiv.style.display = "none";
    signUpDiv.style.display = "block";
    resetDiv.style.display = "none";
  }

  
  function LogIn(event) { //Show login div
    event.preventDefault(); // Prevents the page from jumping
    const logInDiv = document.getElementById("login-box");
    const signUpDiv = document.getElementById("signup-box");
    const resetDiv = document.getElementById("reset-box");
    logInDiv.style.display = "block";
    signUpDiv.style.display = "none";
    resetDiv.style.display = "none";
  }

  function ResetPassword(event) {
    event.preventDefault(); // Prevents the page from jumping
    const logInDiv = document.getElementById("login-box");
    const signUpDiv = document.getElementById("signup-box");
    const resetDiv = document.getElementById("reset-box");
    logInDiv.style.display = "none";
    signUpDiv.style.display = "none";
    resetDiv.style.display = "block";
  }

  function CloseBanner(event) { //Function to handle error banner 'closing' (hiding from user)
    event.preventDefault(); // Prevents the page from jumping
    const BannerDiv = document.getElementById("error-banner");
    BannerDiv.style.display = "none";
  }
</script>

<style>
  #login-box{
    display: block;
  }
  #signup-box{
    display: none;
  }
  #reset-box{
    display: none;
  }
</style>